.mailchimp-subscribe-container { margin: 0 auto; max-width: 480px; }
.mailchimp-subscribe-container .mc-spacer { display: block; margin-bottom: 15px; }

.mailchimp-subscribe-container .required { color: red; }

.mailchimp-subscribe-container label,
.mailchimp-subscribe-container input { display: block; clear: both; width: 100%; height: auto; }

.mailchimp-subscribe-container label { margin-bottom: 5px; font-size: 16px; }
.mailchimp-subscribe-container input { border: 1px solid #777; padding: 8px; }

.mailchimp-subscribe-container button { border: 0; padding: 8px; background: #333; color: #fff; }
.mailchimp-subscribe-container button:hover { cursor: pointer; }

.mailchimp-subscribe-container #response { display: block; }
.mailchimp-subscribe-container #response .success { color: #01DF01; }
.mailchimp-subscribe-container #response .error { color: #FF0000; }
.mailchimp-subscribe-container #response .warning { color: #FACC2E; }